# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# logging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# datasets
/data_workbench/glove*

# misc
.DS_Store
.Rproj.user
